*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

//Голова//
.head{
    background-color: #222222;
    .head__flex{
        display: flex;
        justify-content: space-between;
        padding: 19px 10px;
        align-items: center;
        }
        .head__left__flex{
            display: flex;
            align-items: center;
            .logo{
                margin-right: 41px;
            }
        }
        .head__right__flex{
            display: flex;
            align-items: center;
            .right__item:not(:last-child){
                margin-right: 33px;
            }
        }
        .nostyle{
            list-style: none;
        }
}
.quantity__cart{
    position: relative;
    .quantity{
        top: -20%;
        left: 75%;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 19px;
        height: 19px;
        border-radius: 200px; 
        background:#F16D7F;;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
    }
}


//////////////Блок Промо///////////
.reklama{
    background-color: #F1E4E6;
    height: 764px;
    .reklama__flex{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        background: url('image/man_on_head.png') no-repeat -216px;
        .brand{
            max-width: 420px;
            border-left: 12px solid #F16D7F;
            padding-left: 16px;
            .brand_text{
                font-size: 48px;
                line-height: 58px;
            }
            .luxury_text{
                font-weight: bold;
                font-size: 32px;
                line-height: 38px;
            }
            .fashion {
                color: #F16D7F;
            }
        }
    }
}

////////////Быстрое меню/////////////
.fast__menu__flex{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 65px;
    margin-bottom: 96px;
    .fm__picture:not(:last-child){
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 260px;
        position: relative;
        background-size: cover;
    }
    .fm__picture{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 180px;
        text-decoration: none;
        position: relative;
        background-size: cover;
    }


    .fm__picture::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color:#211616;
        opacity: 0.7;
        }
    .fw{
        background-image: url('image/fast_menu/for_women.jpg');
        }
    .fm{
        background-image: url('image/fast_menu/for_men.jpg');
    }
    .fk{
        background-image: url('image/fast_menu/for_kids.jpg');
    }
    .ac{
        background-image: url('image/fast_menu/accesorise.jpg');
    }
    .promo{
        width: 50%;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
    }
    .acces{
        width: 25%;
    }
    .for{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #F16D7F;
    }
}

////////Products///////
.products{
    text-align: center;
    .prod__head{
        font-size: 30px;
        line-height: 36px;
        color: #222222;
    }
    .prod__head_prgf{
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
        margin-bottom: 48px;
    }
}

.products_marg{
    margin: 128px auto 128px auto;
}

//////Product Item///////
.products__flex{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    .item__product{
        width: 360px;
        height: 581px;
    }
}

///////Описание продукта////////
.product__desc{
    padding: 25px 29px 20px 16px;
    text-align: left;
    .name_prod{
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }
    .price{
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
    }
}
.desc_prod{
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 13px 0 18px 0;
}
.desc_prod_merg{
    max-width: 565px;
    margin: 0 auto;
    text-align: center;
}

.item__product__a{
    text-decoration: none;
}
.pctr__item__product{
    position: relative;
    .bottom__img__prod__hover{ //Кнопка продукта добавить в корзину
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        visibility: hidden;
        width: 139px;
        height: 44px;
        border: 1px solid white;
        background-color: transparent;
        position: absolute;
        top:45%;
        left: 35%;
        .img__cart__btm{
            width: 26px;
            margin-right: 11px;
        }
        .atc__btm__prod__hover{
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }
    }
}

//////Наведение на продукт/////
.overlay{           //темный слой
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
}
.pctr__item__product:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.7);
}
.pctr__item__product:hover .bottom__img__prod__hover{
    visibility: visible;
}
//-------------------------------------//

//////Кнопка Смотреть все продукты////////
.bottom_cont_prod{
    margin: 48px auto 95px auto;
    .btm__catlog__prod{
        color: #F26376;
        border: 1px solid #F16D7F;
        padding: 14px 38px;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
    }
}

.bottom_cont_prod:hover .btm__catlog__prod{
    background-color: #F16D7F;
    color: white;
}

///--------------------------------//////


////////////FOOTER HEAD/////////
.footer__head{
    background: #222224;
    .footer__head_flex{
        height: 341px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        .feature{
            max-width: 360px;
            .feature__text__head{
                font-weight: 400;
                font-size: 19.96px;
                line-height: 24px;
                color: #FBFBFB;
                margin: 28px 0 16px 0;
            }
            .feature__text__desc{
                padding: 0 27px 0 27px;
                font-weight: 300;
                font-size: 13.972px;
                line-height: 17px;
                text-align: center;
                color: #FBFBFB;
            }
        }
    }
}
//----------------------------------//

/////////FOOTER CENTER/////////////////
.footer__center::before{
    content: ' ';
    background-color: white;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
}
.footer__center{
    background-image: url('image/surf.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    .footer__center__flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 448px;
        position: relative;
        .intersec{
            width: 360px;
            text-align: center;
            .round{
                border-radius: 100px; 
                width: 96px;
            }
            .intersec__text__desc{
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #222224;
                .popul{
                    font-style: italic;
                }
            }
        }
    }
    .subscribe{
        width: 557px;
        text-align: center;
        .subscribe__text__head{
            font-size: 24px;
            line-height: 167.2%;
            color: #222224;
        }
        .subscribe__text__desc{
            font-size: 18px;
            line-height: 167.2%;
            color: #222224;
            margin-bottom: 32px;
        }
    
        .email__inp{
            background: #E1E1E1;
            height: 49px;
            width: 256px;
            border-radius: 15px 0 0 15px;
            border: none;
            outline: none;
            padding-left: 22px;
        }
        .email__sub{
            background: #F16D7F;
            height: 49px;
            width: 100px;
            border-radius: 0 15px 15px 0;
            border: none;
            color:white;
            text-align: center;
            cursor: pointer;
        }
    }
}

//////--------------------------------------//////


////////////FOOTER PTOTECT///////////////////////
.footer__protect{
    background: #222224;
    .footer__protect__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 79px;
        .social__box{
            display: flex;
            .social{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                background: white;
                list-style: none;
                .img__social{
                    margin-top: 3px;
                }
                .face{      //fontawesome
                    color: black;
                }
            }
            .social:not(:last-child){
                margin-right: 7px;
            }
            .social:hover{
                background-color: #F16D7F;
            }
            .social:hover .img__social{
                fill:rgb(255, 255, 255); 
            }
            .social:active .img__social{
                fill:rgb(69, 255, 230);
            }

            .social:hover .face{        //fontawesome
                color:rgb(255, 255, 255); 
            }
            .social :active .face{      //fontawesome
                color:rgb(69, 255, 230);
            }
        }
    }
}



///////////////CATALOG///////////////////////
.page__title{
    background: #F8F3F4;
    .page__title__flex{
    min-height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
        .title{
            font-size: 24px;
            line-height: 29px;
            color: #F16D7F;
        }
        a{
            text-decoration: none;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
        }
    }
}



.filter__flex{
    display: flex;
    align-items: center;
    margin: 51px 0 64px 0;
    position: relative;
    justify-content: center;
    .filter{
        position: absolute;
        left: 0%;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding-left: 16px;
        text-decoration: none;
    }
    .filter::after{
        content: url('image/icons/burger_filter.svg');
        margin-left: 11px;
    }
}

.fast__filter__flex{
    display: flex;
    li{
        list-style: none;
    }
    .fast__filter__des{
        text-decoration: none;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
    .fast__filter__des::after{
        content: url('image/icons//arrow_botm_menu.svg');
        margin-left: 10px;
    }
}

.fast__filter__flex li:not(:last-child){
    margin-right: 28px;
}

.pagination{
    margin: 48px 0 96px 0;
}


///////PAGE PRODUCT/////////
.product__slide{
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    .arrow{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47px;
        height: 47px;
        background-color: rgba(0, 0, 0, 0.2);
        top: 0;
        left: 0;
        cursor: pointer;
        .arrow__style{
            fill: black;
        }
    }
    .ar__left{
        position: absolute;
        top: 45%;
        left: 0;
    }
    .ar__right{
        position: absolute;
        top: 45%;
        left: 97%;
    }
    .arrow:hover .arrow__style{
        fill: #F16D7F;
    }
}

///////Описание товара Product Page/////
.desc__product__cont{  ///Ждать урока как сделать без position
    margin-top: -60px;
    position: relative;
}
.desc__product__page{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #EAEAEA;
    background-color: white;
    .prod__type{
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        margin: 64px 0 12px 0;
    }
    .red__line{
        border: 1.5px solid #EF5B70;
        background-color:#EF5B70 ;
        width: 63px;
    }
    .prod_name{
        margin: 12px 0 48px 0;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
    }
    .price__prod__page{
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;
        margin: 32px 0 64px 0;
    }
    .grey__line{
        border: 1px solid #EAEAEA;
        background-color: #EAEAEA;
        width: 642px;
    }
    .fast__filter__flex__marg{
        margin: 64px 0 48px 0;
    }
    .bottom__cart{      //Кнопка продукта добавить в корзину
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 212px;
        height: 48px;
        border: 1px solid #EF5B70;
        background-color: transparent;
        margin-bottom: 64px;
        .cart__btm{
            width: 26px;
            margin-right: 22px;
            fill: #EF5B70;
        }
        .btm__cart__text{
            font-size: 16px;
            line-height: 19px;
            color: #F26376;
        }
    }
    .bottom__cart:hover{
        background-color: #EF5B70;
    }
    .bottom__cart:hover .cart__btm {
        fill: white;
    }
    .bottom__cart:hover .btm__cart__text {
        color: white;
    }


}