//////////////FOOTER////////////
.footer-top{
    background: #222224;
    &__box{
        height: 341px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    &__feature{
        max-width: 360px;
        & h3{
            font-weight: 400;
            font-size: 19.96px;
            line-height: 24px;
            color: #FBFBFB;
            margin: 28px 0 16px 0;
        }
        & p{
            padding: 0 27px 0 27px;
            font-weight: 300;
            font-size: 13.972px;
            line-height: 17px;
            text-align: center;
            color: #FBFBFB;
        }
    }
}

/////////FOOTER CENTER/////////////////
.footer-mdl::before{
    content: ' ';
    background-color: white;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
}
.footer-mdl{
    background-image: url('../image/surf.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &__box{
        @include alignment(space-between, center);
        min-height: 448px;
        position: relative;
    }
    &__intersec{
        width: 360px;
        text-align: center;

        & img{
            border-radius: 100px; 
            width: 96px;
        }
        & p {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #222224;
        }
        & span{
            font-style: italic;
        }
    }
    &__subscribe{
        width: 557px;
        @include alignment(center,center);
        flex-direction: column;
        & h2{
            font-size: 24px;
            line-height: 167.2%;
            color: #222224;
        }
        & p{
            font-size: 18px;
            line-height: 167.2%;
            color: #222224;
            margin-bottom: 32px;
        } 
    }  
        &__subscribe-input{
            background: #E1E1E1;
            height: 49px;
            width: 256px;
            border-radius: 15px 0 0 15px;
            border: none;
            outline: none;
            padding-left: 22px;
            &--btn{
                background: #F16D7F;
                width: 100px;
                border-radius: 0 15px 15px 0;
                color:white;
                text-align: center;
                cursor: pointer;
                padding-left: 0;
            }
    }
}

////////////FOOTER BOTTOM///////////////////////
.footer-botom{
    background: #222224;
    &__box{
        @include alignment(space-between, center);
        height: 79px;
        & p{
            color: white;
        }
        
    }
    &__social-box{
        display: flex;
        & a{
            @include alignment(center, center);
            width: 32px;
            height: 32px;
            background: white;
            list-style: none;
            .social-box__img{
                margin-top: 3px;
            }
            .face{      //fontawesome
                color: black;
            }
        }
        & a:not(:last-child){
            margin-right: 7px;
        }
        & a:hover{
            background-color: #F16D7F;
        }
        & a:hover .social-box__img{
            fill:rgb(255, 255, 255); 
        }
        & a:active .social-box__img{
            fill:rgb(69, 255, 230);
        }
        & a:hover .face{        //fontawesome
            color:rgb(255, 255, 255); 
        }
        & a:active .face{      //fontawesome
            color:rgb(69, 255, 230);
        }
    }
}