//Голова//
.header{
    background-color: #222222;
    & nav{
        @include alignment(space-between, center);
        padding: 19px 10px;
    }
    &__leftpart{
        @include alignment(none, center);
        & > li{
            list-style: none;
            margin-right: 41px;
        }
    }
    &__rightpart{
        @include alignment(none, center);
        position: relative;
        & > li{
            list-style: none;
            &:not(:last-child){
            margin-right: 33px;
            }
        }
    }
    ///////MENU//////////////////
    &__menu-box{
        min-width: 232px;
        min-height: 764px;
        position: absolute;
        background-color: white;
        top: 56px;
        left:165px;
        box-shadow: 0px 0px 26px 3px rgba(34, 60, 80, 0.2);
        & h2{
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            margin: 37px 0 24px 34px;
        }
        & h3{
            font-size: 14px;
            line-height: 17px;
            color: #F16D7F;
            margin-bottom: 12px;
            margin-left: 34px;
            &:not(:first-child){
                margin-top: 20px;
            }
        }
        & li{
            list-style: none; 
            & a{
                text-decoration: none;
                font-size: 14px;
                line-height: 17px;
                color: #6F6E6E;
                margin-left: 54px;
            }
            &:not(:last-child){
                margin-bottom: 11px;
            }
        }  
    }
    /////Количество товара в корзине.....
    &__quantity-pos{  
        position: relative;
        & div{
            @include alignment(center, center);
            top: -20%;
            left: 75%;
            position: absolute;
            width: 19px;
            height: 19px;
            border-radius: 200px; 
            background:#F16D7F;;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
        }
    }  
}