//Голова//
.header{
    background-color: #222222;
    & nav{
        @include alignment(space-between, center);
        padding: 19px 10px;
    }
    &__leftpart{
        @include alignment(none, center);
        & > li{
            list-style: none;
            margin-right: 41px;
        }
    }
    &__rightpart{
        @include alignment(none, center);
        position: relative;
        & > li{
            list-style: none;
            &:not(:last-child){
            margin-right: 33px;
            }
        }
        .gamburger{
            display: flex;
            flex-direction: column;
            width: 32px;
            height: 23px;
            & span{
                border: 1px solid #E8E8E8;
                background-color: #E8E8E8;
                &:not(:last-child){
                    margin-bottom: 8px;
                }
            }
        }
        .menu-shell{
            position: absolute;
            left: 170px;
            top: 56px;
            width: 232px;
            height: 764px;
            background-color: white;
            box-shadow: 0px 0px 26px 3px rgba(34, 60, 80, 0.2);
            z-index: 2;
            & .menu-box{
                & h2{
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                    padding: 37px 0 0 34px;
                }
                & h3{
                    font-size: 14px;
                    line-height: 17px;
                    color: #F16D7F;
                    margin-bottom: 12px;
                    margin-left: 34px;
                    &:not(:first-child){
                        margin-top: 20px;
                    }
                }
                & li{
                    list-style: none; 
                    & a{
                        text-decoration: none;
                        font-size: 14px;
                        line-height: 17px;
                        color: #6F6E6E;
                        margin-left: 54px;
                    }
                    &:not(:last-child){
                        margin-bottom: 11px;
                    }
                }  
            }
        }
        .burger-input{
            display: none;
        }
                /////Выезд меню///////

        .burger-input:checked ~ .gamburger > span{ 
            &:nth-child(1){
                animation: 1s gamburger-top;
                animation-fill-mode: forwards;
            }
            &:nth-child(2){
                animation: 1s gamburger-mdl;
                animation-fill-mode: forwards;
            }
            &:nth-child(3){
                animation: 1s gamburger-btm;
                animation-fill-mode: forwards;
            }
        }
        .burger-input:not(:checked) ~ .gamburger > span{ 
            &:nth-child(1){
                animation: 1s gamburger-top-rev;
            }
            &:nth-child(2){
                animation: 1s gamburger-mdl-rev;
                animation-delay: 1s;
            }
            &:nth-child(3){
                animation: 1s gamburger-btm-rev;
            }
        }
        .burger-input:checked ~ .menu-shell{
            animation: 1s menu-visible;
            animation-fill-mode: forwards;
        } 
        .burger-input:not(:checked) ~ .menu-shell{
            animation: 1s menu-invisible;
            animation-fill-mode: forwards;
        }

        @media (max-width:695px) {
            @keyframes gamburger-top {
                0%{
                    transform:translate(0px) rotate(0deg);
                }
                100%{
                    transform:translate(50px, 75px) rotate(45deg);
                    border: 1px solid #6F6E6E;
                    background-color: #6F6E6E;
                    border-radius: 5px;
                    cursor: pointer;
                    z-index: 3;
                    width: 20px;
                    height: 20px;
                }
            }
            @keyframes gamburger-mdl {
                0%{
                    opacity: 100%;
                }
                100%{
                    opacity: 0%;
                }
            }
            @keyframes gamburger-btm {
                0%{
                    transform:translate(0px) rotate(0deg);
                }
                100%{
                    transform:translate(50px, 54.5px) rotate(-45deg);
                    border: 1px solid #6F6E6E;
                    background-color: #6F6E6E;
                    border-radius: 5px;
                    cursor: pointer;
                    z-index: 3;
                    width: 20px;
                    height: 20px;
                }
            }
            .menu-shell{
                left: 90px;
                top:51px;
            }
            @keyframes gamburger-top-rev {
                0%{
                    transform:translate(50px, 75px) rotate(45deg);
                }
                100%{
                    transform:translate(0px) rotate(0deg);
                }
            }
            @keyframes gamburger-btm-rev {
                0%{
                    transform:translate(50px, 54.5px) rotate(-45deg);     
                }
                100%{
                    transform:translate(0px) rotate(0deg);
                }
            }
            @keyframes gamburger-mdl-rev {
                0%{
                    opacity: 0%;
                }
                100%{
                    opacity: 100%;
                }
            }
        }
    }
    /////Количество товара в корзине////////
    &__quantity-pos{  
        position: relative;
        & div{
            @include alignment(center, center);
            top: -20%;
            left: 75%;
            position: absolute;
            width: 19px;
            height: 19px;
            border-radius: 200px; 
            background:#F16D7F;;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
        }
    }
}

