.cart{
    @include alignment(space-between,center);
    @include margtb(96,128);
    flex-wrap: wrap;
    &__list{
        max-width: 734px;
        //////Карточка товара в корзине/////
        & > div{
            max-height: 306px;
            @include alignment(space-between,none);
            box-shadow: 17px 19px 24px rgba(0,0,0,0.2);
            margin-bottom: 40px;
            & img{
                max-width: 262px;
            }
            /////Описание товара//////
            & > div{
                margin: 22px 97px 64px 31px;
                & h2{
                    margin-bottom: 42px;
                    max-width: 210px;
                    line-height: 29px;
                    & a{
                    text-decoration: none;
                    font-size: 24px;
                    color: #222222;
                    
                    }
                }
                & p{
                    font-size: 22px;
                    line-height: 35px;
                    color: #575757;
                    & span .color-price{
                        color: $brand-color;
                    }
                    & input{
                        width: 44px;
                        text-align: center;
                        outline: none;
                        border: 1px solid #EAEAEA;
                        font-size: 18px;
                        line-height: 22px;
                        color: #656565;
                        margin-left: 24px;
                        &::-webkit-outer-spin-button, ///убираем стрелочки из input number
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }
                    }
                }
            }
            & button{
                border: none;
                background: none;
                cursor: pointer;
                display: flex;
                align-items: flex-start;
                margin: 28px 22px 260px 0;
                & img{
                    width: 9px;
                }
            }
        }
    }
    &__list-btnbox{
        padding-top: 32px;
        display: flex;
        justify-content: space-between;
        & button{
            @include btn-cart(14,17,13,235px,50px,black);
        }
    }
}
